!.vscode/*.code-snippets
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/settings.json
!.vscode/tasks.json
!/data/
$RECYCLE.BIN/
*.aab
*.ap_
*.apk
*.cab
*.class
*.ctxt
*.dex
*.ear
*.iml
*.ipr
*.iws
*.jar
*.jks
*.keystore
*.lcov
*.lnk
*.log
*.msi
*.msix
*.msm
*.msp
*.nar
*.orig
*.pid
*.pid.lock
*.pyc
*.rar
*.seed
*.stackdump
*.swp
*.tar.gz
*.tgz
*.tsbuildinfo
*.vsix
*.war
*.zip
*~
._*
.apdisk
.AppleDB
.AppleDesktop
.AppleDouble
.cache
.cache/
.classpath
.com.apple.timemachine.donotpresent
.cproject
.DocumentRevisions-V100
.docusaurus
.DS_Store
.dynamodb/
.env
.env.development.local
.env.local
.env.production.local
.env.test.local
.eslintcache
.externalNativeBuild
.fseventsd
.fusebox/
.gradle
.gradle/
.grunt
.history/
.idea/**/aws.xml
.idea/**/contentModel.xml
.idea/**/dataSources.ids
.idea/**/dataSources.local.xml
.idea/**/dataSources/
.idea/**/dbnavigator.xml
.idea/**/dictionaries
.idea/**/dynamic.xml
.idea/**/gradle.xml
.idea/**/libraries
.idea/**/mongoSettings.xml
.idea/**/shelf
.idea/**/sqlDataSources.xml
.idea/**/tasks.xml
.idea/**/uiDesigner.xml
.idea/**/usage.statistics.xml
.idea/**/workspace.xml
.idea/.name
.idea/assetWizardSettings.xml
.idea/caches/
.idea/caches/build_file_checksums.ser
.idea/compiler.xml
.idea/copyright/profiles_settings.xml
.idea/dataSources.ids
.idea/datasources.xml
.idea/dictionaries
.idea/dynamic.xml
.idea/encodings.xml
.idea/gradle.xml
.idea/httpRequests
.idea/jarRepositories.xml
.idea/jsLibraryMappings.xml
.idea/libraries/
.idea/misc.xml
.idea/modules.xml
.idea/mongoSettings.xml
.idea/navEditor.xml
.idea/replstate.xml
.idea/scopes/scope_settings.xml
.idea/shelf/
.idea/sonarlint/
.idea/sqlDataSources.xml
.idea/tasks.xml
.idea/uiDesigner.xml
.idea/vcs.xml
.idea/workspace.xml
.idea_modules/
.lock-wscript
.LSOverride
.mtj.tmp/
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar
.navigation/
.next
.node_repl_history
.npm
.nuxt
.nyc_output
.parcel-cache
.pnp.*
.pnpm-debug.log*
.project
.rpt2_cache/
.rts2_cache_cjs/
.rts2_cache_es/
.rts2_cache_umd/
.serverless/
.settings/
.signing/
.Spotlight-V100
.stylelintcache
.temp
.TemporaryItems
.tern-port
.Trashes
.VolumeIcon.icns
.vscode/*
.vscode-test
.vuepress/dist
.yarn/build-state.yml
.yarn/cache
.yarn/install-state.gz
.yarn/unplugged
.yarn-integrity
/*/*/build
/*/*/production
/*/build/
/*/local.properties
/*/out
/.idea/
/.vscode/
/node_modules
/out/
[Dd]esktop.ini
atlassian-ide-plugin.xml
bin/
bower_components
build/
build/Release
buildNumber.properties
captures/
cmake-build-*/
com_crashlytics_export_strings.xml
coverage
crashlytics.properties
crashlytics-build.properties
dependency-reduced-pom.xml
dist
ehthumbs.db
ehthumbs_vista.db
fabric.properties
gen/
gen-external-apklibs
hs_err_pid*
Icon
jspm_packages/
lerna-debug.log*
lib-cov
local.properties
logs
Network Trash Folder
node_modules/
npm-debug.log*
obj/
out
out/
pids
pom.xml.next
pom.xml.releaseBackup
pom.xml.tag
pom.xml.versionsBackup
proguard/
release.properties
replay_pid*
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
target/
Temporary Items
Thumbs.db
Thumbs.db:encryptable
web_modules/
yarn-debug.log*
yarn-error.log*

*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates
*.userprefs
mono_crash.*
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/
.vs/
Generated\ Files/
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*
*.VisualState.xml
TestResult.xml
nunit-*.xml
[Dd]ebugPS/
[Rr]eleasePS/
dlldata.c
BenchmarkDotNet.Artifacts/
project.lock.json
project.fragment.lock.json
artifacts/
ScaffoldingReadMe.txt
StyleCopReport.xml
*_i.c
*_p.c
*_h.h
*.ilk
*.meta
*.obj
*.iobj
*.pch
*.pdb
*.ipdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*_wpftmp.csproj
*.tlog
*.vspscc
*.vssscc
.builds
*.pidb
*.svclog
*.scc
_Chutzpah*
ipch/
*.aps
*.ncb
*.opendb
*.opensdf
*.sdf
*.cachefile
*.VC.db
*.VC.VC.opendb
*.psess
*.vsp
*.vspx
*.sap
*.e2e
$tf/
*.gpState
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user
_TeamCity*
*.dotCover
.axoCover/*
!.axoCover/settings.json
coverage*.json
coverage*.xml
coverage*.info
*.coverage
*.coveragexml
_NCrunch_*
.*crunch*.local.xml
nCrunchTemp_*
*.mm.*
AutoTest.Net/
.sass-cache/
[Ee]xpress/
DocProject/buildhelp/
DocProject/Help/*.HxT
DocProject/Help/*.HxC
DocProject/Help/*.hhc
DocProject/Help/*.hhk
DocProject/Help/*.hhp
DocProject/Help/Html2
DocProject/Help/html
publish/
*.[Pp]ublish.xml
*.azurePubxml
*.pubxml
*.publishproj
PublishScripts/
*.nupkg
*.snupkg
**/[Pp]ackages/*
!**/[Pp]ackages/build/
*.nuget.props
*.nuget.targets
csx/
*.build.csdef
ecf/
rcf/
AppPackages/
BundleArtifacts/
Package.StoreAssociation.xml
_pkginfo.txt
*.appx
*.appxbundle
*.appxupload
*.[Cc]ache
!?*.[Cc]ache/
ClientBin/
~$*
*.dbmdl
*.dbproj.schemaview
*.jfm
*.pfx
*.publishsettings
orleans.codegen.cs
Generated_Code/
_UpgradeReport_Files/
Backup*/
UpgradeLog*.XML
UpgradeLog*.htm
ServiceFabricBackup/
*.rptproj.bak
*.mdf
*.ldf
*.ndf
*.rdl.data
*.bim.layout
*.bim_*.settings
*.rptproj.rsuser
*- [Bb]ackup.rdl
*- [Bb]ackup ([0-9]).rdl
*- [Bb]ackup ([0-9][0-9]).rdl
FakesAssemblies/
*.GhostDoc.xml
.ntvs_analysis.dat
*.plg
*.opt
*.vbw
*.vbp
*.dsw
*.dsp
**/*.HTMLClient/GeneratedArtifacts
**/*.DesktopClient/GeneratedArtifacts
**/*.DesktopClient/ModelManifest.xml
**/*.Server/GeneratedArtifacts
**/*.Server/ModelManifest.xml
_Pvt_Extensions
.paket/paket.exe
paket-files/
.fake/
.cr/personal
__pycache__/
*.tss
*.jmconfig
*.btp.cs
*.btm.cs
*.odx.cs
*.xsd.cs
OpenCover/
ASALocalRun/
*.binlog
*.nvuser
.mfractor/
.localhistory/
.vshistory/
healthchecksdb
MigrationBackup/
.ionide/
FodyWeavers.xsd
*.code-workspace
*.sln.iml
coverage*[.json, .xml, .info]
